body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.lns {
    grid-column: 2;
    grid-row: 2;
    align-content: end;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    row-gap: 2em; 
}

.logo {
    margin: auto;
    grid-row: 1;
}
.sb {
    align-content: start;
    grid-row: 2;
}

.input{
    width: 100%;
    height: 100%
    /*css 3*/
    border-radius:10px;
    /*mozilla*/
    -moz-border-radius:10px;
    /*webkit*/
    -webkit-border-radius:10px;
}